# Secrets
.env
!.env.example

# Gradle
.gradle/
build/

# Eclipse
.classpath
.project
.settings/
.factorypath
bin/

# IntelliJ
.idea/
*.iml

# OS
.DS_Store

# Frontend
frontend/node_modules
frontend/.next/
frontend/out/
frontend/*.tsbuildinfo
frontend/next-env.d.ts